#body {
  background-color: orange;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.game-container {
  text-align: center;
  height: 100%;
}

.moviments {
  color: black;
  padding: 3px 3px;
  background-color: white;
  border-radius: 5px;
}

button{
  background: #FFA600;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  margin-left: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #000;
}

.logo {
  justify-content: center;  /* Corrigido de 'justify-items' para 'justify-content' */
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333; /* Cor de fundo do footer, ajuste conforme necessário */
  color: #fff; /* Cor do texto do footer, ajuste conforme necessário */
  padding: 10px 0; /* Espaçamento interno para o conteúdo do footer */
}


footer span {
  vertical-align: middle; /* Centralizar verticalmente */
}

/* Estilos para a imagem de fundo */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
  text-align: center;
  z-index: 999; /* Garante que a imagem esteja sobre o conteúdo */
}

/* Estilos para a imagem */
.popup img {
  max-width: 80%; /* Tamanho máximo da imagem */
  max-height: 80%; /* Tamanho máximo da imagem */
  margin-top: 10%; /* Alinhamento vertical no centro */
  cursor: pointer;
}


.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

#card-found-text {
  position: fixed;
  text-align: center;
  bottom: 10px; /* Ajuste a distância da parte inferior conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7); /* Cor de fundo com transparência */
  color: black;
  padding: 10px 20px; /* Espaçamento interno para o texto */
  border-radius: 5px; /* Borda arredondada */
  z-index: 999; /* Garante que esteja na parte superior */
  display: none; /* Inicialmente oculto */
}


/* Adicione esta regra CSS para definir o tamanho das imagens */
.card img {
  width: 100px;
  height: 100px;
  }

@media (min-width: 1000px) {
    .game-container {
      margin-top:2rem;
    }
   .game-board{
     margin: 0 auto;
     width: 100%; 
     max-width: 800px; 
   }
  .game-board div{
      width: 20%;
      object-fit: fill;
  }
   .popup img {
    max-width: 100%; 
    max-height: 100%;
  }

}
